@model Hotel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Hotel</h1>

<h4>Are you sure you want to delete this hotel?</h4>
<div>
    <strong>@Model.Name</strong><br />
    <img src="@Model.ImageUrl" alt="Image" style="width:150px;" /><br />
    @Model.Location - @Model.Country - Stars: @Model.Stars
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

